__pycache__
output/
.DS_Store
logs
tests
ssd-logs/
docker/proxy_on.sh
apriltag-imgs
act/
.github
assets
.catkin_*
.auto-run-docker/
tmp/
.eval-run-docker
wbl_*
urdf
calib_logs/
curobo/
.vscode/
3dgsr/
*3d*
dp_for_r2s
5_items/
5_items_lmdb/
real2sim2real.egg-info/
*.exr
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
tests/
resources/
draw_pictures/draw_pictures/visual_comparsion/2024-11-11_13-56-18_972230
*.pdf
act_output
act-data
isaacsim-logs
openMVS
data/
.debug.log
*.run
self-scripts/
re3sim/gaussian_splatting/utils/campose2img.py
policies/act_plus_plus/lmdb_data/
